* {
    bg-col:  #000000;
    bg-col-light: #000000;
    border-col: #000000;
    selected-col: #150909;
    blue: #d35f5e;
    fg-col: #D9E0EE;
    fg-col2: #F28FAD;
    grey: #7a3535;
    width: 400;
}
